body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
    max-width: 400px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 120px 36px 120px;
    gap: 36px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

header{
    font-size: 24px;
    color: #f8f9fa;
}

.links{
    display: flex;
    gap: 15px;
}

.detail {
    display: flex;
    justify-content: space-between;
}

.h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 36px;
}

.welcome {
    font-size: 48px;
    font-weight:bolder;
    color:#f8f9fa;
    margin: 0px;
}

.description {
    font-size: 18px;
    color:#e5e7eb;
}

button{
    width: 100px;
    background-color: #3882f6;
    color: #f8f9fa;
    border-radius: 5px;
    border-color:#3882f6;
    border-style: none;
    padding:10px 0;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}